<html>
    <head>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    	<title> Blog Posts </title>
    	<style>
    		.dropdown {
		    position: relative;
		    display: inline-block;
			}

			.dropdown-content {
			    display: none;
			    position: absolute;
			    background-color: #FEF5E7;
			    min-width: 160px;
			    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			    padding: 12px 16px;
			    z-index: 1;
			}

			.dropdown:hover .dropdown-content {
			    display: block;
			}

            .hide {
                display: none;
            }

    	</style>

        <script>
            $(document).ready(function(){

                $('.likeButton').click(function(event){

                    console.log($(event.target));
                    var postId = $(event.target).attr('data-id');
                    var color = $(event.target).attr('style');
                    console.log("PostID:" + postId);
                    var likes = $(event.target).attr('data-count');
                    likes++;
                    $('.likesCount[data-id="'+postId+'"]').html(likes);
                    var data = {postId: postId, likesCount: likes};
                    $.post('/like', data);
                    $('.likeButton[data-id="'+postId+'"]').css('color','red');
                    
                });

            });

            
            </script>

    </head>
    
    <body style="background-color: #F9EEFF; font-family: verdana;">

    <p style="float:right;"><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true" style = "color: black;"></i>
Logout</a> </p>

        <h1 style = "font-size: 200%; text-align: center;">Hi <%= username %>! Welcome to Explore.</h1>

        <div class="dropdown" style="float: left;">
            <span><i class="fa fa-user" aria-hidden="true">&ensp;Menu</i></span>
            <div class="dropdown-content">
                <p style="font-size: 90%;"><a href="/home">Publish a post!</a> </p>
                <p style="font-size: 90%;"><a href="/yourProfile">Your profile!</a> </p>
                <p style="font-size: 90%;"><a href="/feed">Visit your feed!</a> </p>
            </div>
        </div>
        

        <div class="dropdown" style="float: right;">
  			<span>Sort <i class="fa fa-sort" aria-hidden="true"></i>&ensp; &ensp;&ensp; &ensp;&ensp; &ensp;</span>
  				<div class="dropdown-content">
    				<p><a href = '/newFeed'>Latest first</a></p>
    				<p><a href = '/oldFeed'>Oldest first</a></p>
  				</div>
		</div>
         <br/><br/>

        <% for(let i = (data.length - 1); i >= 0; i--) { %>

            
            <% var postId = data[i]._id; 
            var likes = 0;
            if(data[i].likes){
               likes = data[i].likes;
            } %>
            <% var postAuthor = data[i].username %>
            <% var viewPost = '/viewPost/'+postId %>
            <% var viewProfile = '/viewProfile/'+postAuthor %>
            <% var createdAt = moment(data[i].createdAt).format('DD-MM-YYYY HH:MM') %>
            <% var updatedAt = moment(data[i].updatedAt).format('DD-MM-YYYY HH:MM') %>
            <% var commentsLength = (data[i].comments).length %>
            <% var viewComments = '/viewComments/'+postId %>
            
            <article style= "text-align: center;">
            	<p style = "font-size: 170%;"><%= data[i].title %> </p>
                <p style = "font-size: 90%;"> Author <a href = <%= viewProfile %>><%= data[i].username %> </a></p> <br/>

                <%- data[i].blogpost.substring(0,200) %>

                <p style = "font-size: 90%"> Created on <%= createdAt %></p>
                
                <span>
                    <a href = <%= viewPost %> ><i title = "View entire post" class="fa fa-eye" aria-hidden="true" style="color: blue;"></i></a> &ensp; </span>
                <% var counter = (data[i].likedBy).indexOf(username);
                if(counter == -1) {  %>
                
                <span class = "stackIcons"> 
                    
                        <i class="fa fa-heart-o likeButton" style="" aria-hidden="true" data-id=<%= postId %> data-count= <%= data[i].likes %> ></i>

                        <span class="likesCount"
                         data-id = <%= postId %>> <%= data[i].likes %> </span>
                    
                </span> 
                <% } else { %>
                <span class = "stackIcons"> 
                    
                        <i class="fa fa-heart-o likeButton" style="color: red;" aria-hidden="true" data-id=<%= postId %> data-count= <%= data[i].likes %> ></i>

                        <span class="likesCount"
                         data-id = <%= postId %>> <%= data[i].likes %> </span>
                    
                </span> 
                <% } %>  
                <p style="font-size: 90%;">
                    <a href= <%= viewComments %> >Read comments (<%= commentsLength %>)</a>
                </p>           

                <p>-----------------------</p>
            </article>
            
        <% } %>



        
    </body>
</html>