<html>
    <head>
        
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    	<title> Blog Posts </title>
    	<style>
    		.dropdown {
		    position: relative;
		    display: inline-block;
			}

			.dropdown-content {
			    display: none;
			    position: absolute;
			    background-color: #FEF5E7;
			    min-width: 160px;
			    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			    padding: 12px 16px;
			    z-index: 1;
			}

			.dropdown:hover .dropdown-content {
			    display: block;
			}
    	</style>
        <script>
            $(document).ready(function(){

                $('.likeButton').click(function(event){

                    console.log($(event.target));
                    var postId = $(event.target).attr('data-id');
                    var color = $(event.target).attr('style');
                    console.log("PostID:" + postId);
                    var likes = $(event.target).attr('data-count');
                    likes++;
                    $('.likesCount[data-id="'+postId+'"]').html(likes);
                    var data = {postId: postId, likesCount: likes};
                    $.post('/like', data);
                    $('.likeButton[data-id="'+postId+'"]').css('color','red');
                    
                });

            });

            
            </script>
        
    </head>
    
    <body style="background-color: #F9EEFF; font-family: verdana;">

    <p style="float:right;"><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true" style = "color: black;"></i>
Logout</a> </p>

        <h1 style = "font-size: 200%; text-align: center;">Posts by <%= username%></h1>
        <p style="text-align: center;"><%= f %> <i style="color: blue;" class="fa fa-users" aria-hidden="true"></i> </p>
        
        <% if(counter == 0) { %>
        <form method="post" action='/follow'>
            <input type="submit" name="Follow" value="Follow">
            <input type="hidden" name="target" value= <%= username %> >
        </form>
        <% } else if(counter == 1) { %>
        <form method="post" action='/unfollow'>
            <input type="submit" name="Unfollow" value="Unfollow" style="color: blue;">
            <input type="hidden" name="target" value= <%= username %> >
        </form>
        <% } %>

        <div class="dropdown" style="float: left;">
            <span><i class="fa fa-user" aria-hidden="true"></i>&ensp;Menu</span>
            <div class="dropdown-content">
                <p style="font-size: 90%;"><a href="/home">Publish a post!</a> </p>
                <p style="font-size: 90%;"><a href="/feed">Visit your feed!</a> </p>
                <p style="font-size: 90%;"><a href="/yourProfile">Your profile!</a> </p>
            </div>
        </div>


        <div class="dropdown" style="float: right;">
  			<span>Sort <i class="fa fa-sort" aria-hidden="true"></i>&ensp; &ensp;&ensp; &ensp;&ensp; &ensp;</span>
  				<div class="dropdown-content">
    				<p><a href = '/new'>Latest first</a></p>
    				<p><a href = '/old'>Oldest first</a></p>
  				</div>
		</div>
         <br/><br/>

        <% for(let i = 0; i < posts.length; i++) { %>
        
            <% var postId = posts[i]._id %>
            <% var editLink = '/editPost/'+postId %>
            <% var deleteLink = '/deletePost/'+postId %>
            <% var viewPost = '/viewPost/'+postId %>
            <% var createdAt = moment(posts[i].createdAt).format('DD-MM-YYYY HH:MM') %>
            <% var updatedAt = moment(posts[i].updatedAt).format('DD-MM-YYYY HH:MM') %>
            <% var viewComments = '/viewComments/'+postId %>
            <% var commentsLength = (posts[i].comments).length %>
            
            
            <article style= "text-align: center;">
            	<p style = "font-size: 170%;"><%= posts[i].title %> </p>
                
                <%- posts[i].blogpost.substring(0,200) %>
                
                <p style = "font-size: 90%"> Author <%= posts[i].username %></p>

                <p style = "font-size: 90%"> Created on <%= createdAt %></p>
                
                <span><a href = <%= viewPost %> ><i title = "View entire post" class="fa fa-eye" aria-hidden="true" style="color: blue;"></i></a> &ensp; </span>
                 <% var counter = (posts[i].likedBy).indexOf(name);
                if(counter == -1) {  %>
                
                <span class = "stackIcons"> 
                    
                        <i class="fa fa-heart-o likeButton" style="" aria-hidden="true" data-id=<%= postId %> data-count= <%= posts[i].likes %> ></i>

                        <span class="likesCount"
                         data-id = <%= postId %>> <%= posts[i].likes %> </span>
                    
                </span> 
                <% } else { %>
                <span class = "stackIcons"> 
                    
                        <i class="fa fa-heart-o likeButton" style="color: red;" aria-hidden="true" data-id=<%= postId %> data-count= <%= posts[i].likes %> ></i>

                        <span class="likesCount"
                         data-id = <%= postId %>> <%= posts[i].likes %> </span>
                    
                </span> 
                <% } %> 
                <p style="font-size: 90%;">
                    <a href= <%= viewComments %> >Read comments (<%= commentsLength %>)</a>
                </p>   
                

                <p>-----------------------</p>
            </article>
        <% } %>

    </body>
</html>