<html>
	<head>
		<meta charset = "UTF-8">
		<meta name = "description" content = "A blog post">
		<meta name="keywords" content="blog, post, user">
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<title id="title" name="title"><%= data.posts[0].title %></title>
	</head>

	<body style="background-color: #F9EEFF; font-family: verdana; text-align: center;">

		<% var postId = data.posts[0]._id %>
		<% var postAuthor = data.posts[0].username %>
		<% var viewProfile = '/viewProfile/'+postId %>
		<% var viewProfile = '/viewProfile/'+postAuthor %>
		<% var url = "http://127.0.0.1:1111/viewPost/" + postId %>

		<p style="float:right;"><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true" style = "color: black;"></i>Logout</a> </p> 

		<p style="font-size: 90%; text-align:left;"><a href="/feed">Visit your feed!</a> </p><br/>
		<p style="text-align: left;"><a href="/yourProfile">Your posts!</a> </p>

		<% var createdAt = moment(data.posts[0].createdAt).format('DD-MM-YYYY HH:MM') %>
        <% var updatedAt = moment(data.posts[0].updatedAt).format('DD-MM-YYYY HH:MM') %>

		<h1 id="heading" name="heading" style="text-align: center; font-size: 200%;"><%= data.posts[0].title %></h1>
		<p style = "font-size: 90%;"> Author <a href = <%= viewProfile %>><%= data.posts[0].username %> </a>
			<span> 
	            <img style="width: 50px;height: 20px;"  src = <%= data.image %> > 
	         </span>
	    </p>
		<p style = "font-size: 90%; text-align: center;"> Created on <%= createdAt %></p>
        
		
		<br/> <br/> <br/><br/>
		 <%- data.posts[0].blogpost %>
		
		<br/><br/>

		<a href="https://twitter.com/share" 
		class="twitter-share-button" 
		data-show-count="false"
		data-text="Hey! Check out this blog post!"
		data-url = <%= url %> >Tweet</a>
		<script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
		</script>


		<p>
			<i class="fa fa-heart-o" aria-hidden="true"></i>
		</p>

		<!--<script language="javascript">
		    function tweetCurrentPage()
		    { window.open("https://twitter.com/share?url="+escape(window.location.href)+"&text="+document.title, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false; }
		</script> 

		<a class="tweet" href="javascript:tweetCurrentPage()" target="_blank" alt="Tweet this page">Tweet this page</a> -->

		<!--<a href = "shareURL">Share</a>
		<script async> 
			var shareURL = "http://twitter.com/share?";
			var params = {
				url: "http://google.com",
				text: "Check out this blog post!"
				via: data.twitterName,
			}
			for(var prop in params) shareURL = shareURL + '&' + prop + '=' + encodeURIComponent(params[prop]);
			window.open(shareURL, '',left=0,top=0,width=550,height=450); 
		</script> -->

		<p> <a href = <%= viewProfile %> View more from this author! </a></p>
            <input type="hidden" name="_id" value="<%= data.posts[0]._id %>">


			<br/><br/><br/>
	</body>
</html>